/* Styling for the footer container */
.footer {
    background-color: rosybrown; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 0.1rem 1.3rem;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    position: fixed; /* Fix the footer to the bottom of the viewport */
    width: 100%; /* Ensure the footer spans the full width */
    bottom: 0; /* Ensure the footer stays at the bottom */
    z-index: 1000; /* Set the z-index to ensure the footer is above other content */
    /* Consider using background-size: contain; here and adjusting as needed */
    /* background-position: center; /* Center the background if used */
    left: 0px;
}
  
  /* Styling for the container fluid */
  .footer .container-fluid {
    max-width: 1200px; /* Set a max-width for readability */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
  }
  