
.download-section {
 
    position: relative;
    z-index: 3;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(16, 46, 5);
}
  .welcome-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.role {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}
