
body {
  /* background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    align-items: center;
    display: flex;
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     background-image: url('./images/ht-home-back.png') ; /* Set the background image */
     background-size: cover; /* Cover the entire container with the background image */
     /*background-position: center; /* Center the background image */
     /*background-repeat: no-repeat; */
  

}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1; /* This ensures that the main content takes up remaining vertical space */
  padding-top: 20px;
  padding-bottom: 10px;

}
#root {
  min-height: 100vh;
  max-width: 1200px; /* Set a max-width for better readability */
  margin: 0 auto;
  padding: 1rem;
  padding-top: 80px;
  padding-bottom: 10px; /* Adjust based on footnote height */

}

.section {
  width: 100%;
  height: auto;
  margin: 1px 0; /* Add margin for spacing between sections */
  text-align: justify;
  padding: 50px;
  background-color: cadetblue; /* White background for sections */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #333; /* Dark text color */

}

.button {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: gold; /* Add  color */
  cursor: pointer;
  margin-top: 20px;
  display: block;
  padding-top: 1px;
  
 
}
  .button + .button {
      margin-left: 5px;
  }

  .button:hover {
      background-color: #45a5e9; /* Add color on hover */
  }


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Add media query for responsive navbar collapse */
@media (max-width: 768px) {
  body {
    background-size: contain; }
  .navbar {
    flex-direction: column; /* Stack items vertically on mobile */
  }
}